.search-box{
  margin: 20px;
}
input{
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 300px;
}
button:hover{
  background-color: #0056b3;
}
.result-card{
  margin: 20px;
  padding: 20px;
  color: black;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background:#e4d8d8;
  margin: 0 5px;
}
.nav-tabs button.active {
  background:#8f6363;
  color: white;
  font-weight: bold;
}
